body{
    font-family: sans-serif;
    width: 100vw;
    /*margin: 0;*/
}

path{
    stroke-width: 4;
}


svg{
    width: 100%;
}

.smallSVG{
    background: #F5F9FB;
}

.selectCorner{
    z-index: 10;
    position: relative;
    cursor: move;
}